.header {
  background-color: var(--color-white);
  border-bottom: 1px solid var(--border-default);
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-small) var(--spacing-large);

  @media screen and (min-width: 720px) {
    padding-bottom: var(--spacing-default);
    padding-top: var(--spacing-default);
  }

  .menu {
    list-style: none;

    li {
      display: inline-block;

      & + li {
        margin-left: var(--spacing-default);
      }

      a {
        border-bottom: none;
        border-radius: var(--border-radius-default);
        color: var(--color-secondary);
        display: block;
        padding: var(--spacing-default);
        transition: var(--transition-default);

        &:hover {
          background-color: var(--border-default);
        }
      }
    }
  }
}
