$nav-height: 90px;

.da-Main {
  background: #222;
  color: #fff;
  min-height: calc(100vh - #{$nav-height});
  padding-bottom: 100px;

  &-hero {
    align-items: center;
    margin: auto;
    max-width: 820px;
    text-align: center;

    @media (min-width: 768px) {
      display: flex;
      text-align: left;
    }
  }
  
  &-avatar {
    border: 10px solid #fff;
    border-radius: 30px;
    flex: 0 0 150px;
    margin-bottom: 20px;
    width: 150px;

    @media (min-width: 768px) {
      flex-basis: 200px;
      margin-bottom: 0;
      margin-right: 20px;
      width: 200px;
    }
  }
  
  &-title {
    font-size: 28px;
    line-height: 1.15;
    margin: 0;

    @media (min-width: 360px) {
      font-size: 32px;
    }

    @media (min-width: 768px) {
      font-size: 48px;
    }
  }
  
  &-subtitle {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 0;
    margin-top: 15px;

    @media (min-width: 360px) {
      font-size: 20px;
    }

    @media (min-width: 768px) {
      font-size: 28px;
    }
  }

  &-link {
    color: #fff;
    font-weight: 500;
    position: relative;
    text-decoration: none;
    transition: opacity 0.2s;

    &:hover {
      text-decoration: underline;
    }

    &--mtberos {
      &, &:hover {
        color: #1991ff;
      }
    }
  
    &--adevinta {
      &, &:hover {
        color: #2900d2;
      }
    }

    &--stadianeros {
      &, &:hover {
        color: #cd0d23;
      }
    }
  }
}
