.da-Scroll {
    bottom: 40px;
    left: 50%;
    position: absolute;
    transform: translate(0,-50%);

    @media (min-width: 768px) {
      bottom: 70px;
    }

    &:after {
      content: none;
    }

    span {
      animation: scrollAnimate 2s infinite;
      border-bottom: 3px solid #ffca1e;
      border-right: 3px solid #ffca1e;
      display: block;
      height: 20px;
      margin: -10px -5px;
      transform: rotate(45deg);
      width: 20px;

      @media (min-width: 768px) {
        border-bottom-width: 4px;
        border-right-width: 4px;
        height: 30px;
        margin: -15px -10px;
        width: 30px;
      }
  }
  
  span:nth-child(2){
      animation-delay: -0.2s;
  }
  
  span:nth-child(3){
      animation-delay: -0.4s;
  }
}

@keyframes scrollAnimate {
  0%{
      opacity: 0;
      transform: rotate(45deg) translate(-20px, -20px);
  }
  
  50%{
      opacity: 1;
  }
  
  100%{
      opacity: 0;
      transform: rotate(45deg) translate(10px, 10px);
  }
}