

.steps {
  list-style: none;
  margin-top: calc(var(--spacing-small) * -1);

  li {
    color: var(--color-secondary-soft);
    display: inline-block;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: var(--spacing-default);
    
    & + li {
      margin-left: var(--spacing-small);

      &:before {
        content: "|";
        padding-right: var(--spacing-small);
      }
    }
  }
}
