.projects {
  .project {
    background-color: var(--color-white);
    border: 1px solid var(--border-default);
    border-radius: var(--border-radius-default);
    justify-content: space-between;
    margin-top: var(--spacing-large);
    padding: var(--spacing-large);
  }
}