.da-Footer {
  background: #ffca1e;
  padding: 50px 0;
  text-align: center;

  &-content {
    margin: auto;
    max-width: 820px;

    > a {
      color: #000;

      &:after {
        background-color: #000;
        height: 6px;
        left: -1px;
        opacity: 0.2;
        width: calc(100% + 2px);
        z-index: 0;

        &:hover {
          opacity: 0.4;
        }
      }
    }
  }
  
  &-social {
    list-style: none;
    margin: 25px auto 0;
    padding: 0;

    li {
      display: inline-block;
      margin: 0 10px;
      opacity: 0.7;
      transition: opacity 0.3s;

      &:hover {
        opacity: 1;
      }

      a:after {
        content: none;
      }
    }
  }
}