.da-Section {
  align-items: center;
  display: flex;
  min-height: -webkit-fill-available;
  min-height: 100vh;
  padding: 70px 15px;

  &--odd {
    background-color: #fff;
  }

  &-content {
    font-weight: 300;
    margin: auto;
    max-width: 100%;
    width: 820px;
  }

  &-title {
    font-size: 28px;
    margin: 0;

    @media (min-width: 768px) {
      font-size: 36px;
    }
  }
}