.home {
  .main {
    align-items: center;
    display: flex;
  }

  .avatar {
    margin-bottom: var(--spacing-large);
    margin-right: var(--spacing-default);

    .image {
      border-radius: 100%;
      box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.05);
    }
  }

  .text {
    line-height: 1.5;
    margin-bottom: var(--spacing-large);
  }

  .list {
    list-style: none;
    margin-top: var(--spacing-default);

    .element {
      align-items: center;
      display: flex;
      line-height: 1.2;
      margin-bottom: var(--spacing-default);
    }
    
    .dot {
      margin-right: var(--spacing-default);
    }
  }
  
}
