.da-Nav {
  align-content: center;
  background-color: #ffca1e;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  position: sticky;
  top: 0;
  z-index: 10;

  &-menu {
    margin: 0;
    padding: 0;

    &Item {
      display: inline-block;
      margin-left: 25px;
    }
  }
}