:root {
  --background-default: rgb(251, 251, 251);
  --border-default: #eaeaea;
  --color-primary: #3991ff;
  --color-secondary: #383838;
  --color-white: #fff;
  --spacing-default: 16px;
  --spacing-small: 8px;
  --spacing-large: 32px;
  --border-radius-default: 16px;
  --transition-default: all ease-in 0.15s;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  -moz-scroll-behavior: smooth;
  -ms-scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -webkit-scroll-behavior: smooth;
  background-color: var(--background-default);
  box-sizing: border-box;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, 'Avenir Next', Avenir, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  scroll-behavior: smooth;
  text-rendering: optimizelegibility;
}

body {
  overflow-x: hidden;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

blockquote {
  margin: 0;
}

h1,
h2,
h3,
h4,
figure,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

a {
  border-bottom: 2px solid var(--color-primary);
  color: var(--color-primary);
  font-weight: 500;
  text-decoration: none;
  transition: var(--transition-default);
}

a:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
  text-decoration: none;
}

iframe {
  border: 0;
}

p {
  line-height: 1.5;

  + p {
    margin-top: var(--spacing-default);
  }
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  align-items: center;
  font-size: 1.15rem;
  margin: auto;
  max-width: 800px;
  padding: var(--spacing-large) var(--spacing-default);
  width: 100vw;

  @media screen and (min-width: 720px) {
    padding: 50px var(--spacing-large);
  }
}

.title {
  background: linear-gradient(to right, #424248 0%, #1991ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  font-size: 2.75rem;
  font-weight: 700;
  -webkit-letter-spacing: -0.05em;
  -moz-letter-spacing: -0.05em;
  -ms-letter-spacing: -0.05em;
  letter-spacing: -0.05em;
  margin-bottom: var(--spacing-large);
  padding-right: 4px; // Fix

  @media screen and (min-width: 720px) {
    font-size: 3rem;
  }
}

.subtitle {
  font-size: 1.75rem;
  margin-bottom: var(--spacing-default);
  margin-top: var(--spacing-large);

  span {
    background: linear-gradient(to right, #424248 0%, #666 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &:first-child {
    margin-top: 0;
  }
}

.small {
  font-size: 0.75rem;
  
  & + .small {
    margin-top: var(--spacing-small);
  }
}
